/**-----FONTS-----**/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/**-----RESET-----**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/**-----BODY-----**/
.body {
  font-family: "Montserrat", sans-serif; }

/**-----VARIABLES-----**/
/**-----EXTENDS-----**/
.hero, .sectionPlans, .accordion {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

/**-----MIXINS-----**/
.header {
  background-color: black;
  position: sticky;
  top: 0;
  height: 160px;
  width: 100%;
  z-index: 1; }
  .header nav section {
    display: flex;
    justify-content: center; }
    .header nav section a img {
      width: 110px;
      height: 110px; }
    .header nav section ul {
      list-style: none;
      display: flex;
      justify-content: center;
      padding: 0px; }
      .header nav section ul li a {
        color: white;
        text-decoration: none;
        font-weight: 500;
        font-size: 20px;
        font-family: "DM Sans", sans-serif;
        padding: 10px;
        transition-duration: 1s; }
        .header nav section ul li a:hover {
          text-decoration: underline;
          font-size: 23px; }

main .fixed {
  position: fixed;
  right: 20px;
  bottom: 10px;
  z-index: 1; }
  main .fixed a img {
    width: 70px;
    height: 70px;
    transition-duration: 1s; }
    main .fixed a img:hover {
      width: 75px;
      height: 75px; }

.hero {
  background-color: gainsboro;
  height: 690px; }
  .hero div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 4px black solid;
    width: 1100px;
    height: 150px;
    transition-duration: 1s; }
    .hero div:hover {
      width: 1200px;
      height: 170px; }
    .hero div h1 {
      font-size: 60px;
      text-align: center;
      font-weight: bold;
      color: black; }
    .hero div h2 {
      font-size: 30px;
      text-align: center;
      color: black; }
  .hero h3 {
    text-align: center;
    font-size: 20px;
    margin: 50px; }

.sectionTexto {
  text-align: center;
  background-color: gainsboro;
  margin-bottom: 20px;
  height: 70px; }
  .sectionTexto h1 {
    display: inline-block;
    padding: 5px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 30px; }

.sectionClientes {
  background-color: white;
  height: 510px;
  display: flex;
  flex-direction: row;
  margin: 20px;
  text-align: center;
  gap: 120px;
  align-items: center;
  justify-content: center; }
  .sectionClientes div {
    background-color: gainsboro;
    align-content: center;
    border: 2px black solid;
    border-radius: 5px;
    width: 300px;
    height: 460px;
    transition-duration: 1s; }
    .sectionClientes div:hover {
      height: 480px;
      width: 340px; }
    .sectionClientes div h2 {
      padding: 5px;
      margin: 5px;
      font-size: 23px;
      text-align: center;
      font-weight: bold; }
    .sectionClientes div img {
      height: 250px;
      width: 250px;
      padding: 0px; }
    .sectionClientes div p {
      padding: 5px;
      font-size: 15px; }

.sectionTexto2 {
  width: 100%;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  background-color: gainsboro; }
  .sectionTexto2 h3 {
    padding: 5px;
    display: inline-block;
    font-weight: bold; }

.sectionPlansTitulo {
  text-align: center;
  padding: 15px;
  background-color: gainsboro; }
  .sectionPlansTitulo h1 {
    font-size: 30px;
    font-weight: bold; }

.sectionPlans {
  height: 1150px;
  background-image: url(../images/Carousel1.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  .sectionPlans div {
    border: 3px black solid;
    width: 1000px;
    height: 340px;
    background-color: gainsboro;
    margin-top: 20px; }
    .sectionPlans div h2 {
      font-size: 23px;
      padding: 10px;
      font-weight: bold; }
    .sectionPlans div h3 {
      font-size: 23px;
      padding: 10px;
      font-weight: bold; }
    .sectionPlans div ul {
      display: inline-block;
      padding: 0px; }
      .sectionPlans div ul li {
        list-style: none;
        margin: 20px;
        color: black; }
    .sectionPlans div a {
      background-color: black;
      color: white;
      border: 3px black solid;
      border-radius: 5px;
      text-decoration: none;
      padding: 5px;
      font-weight: bold;
      transition-duration: 1s; }
      .sectionPlans div a:hover {
        background-color: gainsboro;
        padding: 8px; }

.sectionServicios {
  background-color: white;
  padding-bottom: 10px;
  height: 700px; }
  .sectionServicios div h1 {
    text-align: center;
    background-color: gainsboro;
    font-size: 25px;
    font-weight: bold;
    height: 50px;
    padding: 10px; }
  .sectionServicios div h3 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    background-color: gainsboro;
    height: 70px;
    padding: 15px;
    font-size: 25px; }

.accordion {
  height: 470px; }
  .accordion .accordion-item .accordion-header .accordion-button {
    color: black;
    border: 2px black solid;
    width: 950px;
    margin: 5px; }
    .accordion .accordion-item .accordion-header .accordion-button:active {
      background-color: black; }
  .accordion .accordion-collapse .accordion-body {
    font-size: 15px; }

.sectionServiciosBoton {
  display: flex;
  justify-content: center; }
  .sectionServiciosBoton a {
    text-align: center;
    background-color: gainsboro;
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding: 5px;
    border: 3px black solid;
    border-radius: 5px;
    transition-duration: 1s; }
    .sectionServiciosBoton a:hover {
      background-color: black;
      color: white;
      padding: 8px; }
    .sectionServiciosBoton a:active {
      background-color: gainsboro;
      color: black; }

.sectionContacto {
  background-color: white;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .sectionContacto .sectionContactoTitulo {
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
    background-color: gainsboro; }
    .sectionContacto .sectionContactoTitulo h1 {
      font-weight: bold;
      font-size: 23px; }
    .sectionContacto .sectionContactoTitulo h2 {
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 5px; }

form .mb-3 {
  padding: 5px;
  margin: 2px;
  width: 50%; }

form .btn {
  background-color: gainsboro;
  color: black;
  border: 2px black solid;
  font-weight: bold;
  padding: 5px;
  margin: 5px;
  transition: 1s; }
  form .btn:hover {
    background-color: black;
    color: white;
    border: 2px black solid;
    padding: 8px; }

.footer {
  background-color: gainsboro;
  height: 135px;
  background-repeat: no-repeat;
  background-size: 160px;
  background-position: left;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  border-top: 1px black solid;
  padding-left: 0px; }
  .footer div h4 {
    font-size: 18px;
    font-weight: bold;
    margin: 5px; }
  .footer div a img {
    height: 20px;
    width: 20px;
    margin: 2px;
    transition-duration: 1s; }
    .footer div a img:hover {
      height: 22px;
      width: 22px; }
  .footer div ul {
    padding: 0px; }
    .footer div ul li {
      list-style: none;
      margin: 5px; }
      .footer div ul li img {
        height: 16px;
        width: 16px; }
      .footer div ul li a {
        transition-duration: 1s;
        text-decoration: none;
        color: black;
        font-size: 16px; }
        .footer div ul li a:hover {
          text-decoration: underline;
          font-size: 17px; }
      .footer div ul li span {
        font-size: 16px;
        color: black; }

@media screen and (max-width: 1024px) {
  .hero div {
    width: 850px;
    transition-duration: 1s; }
    .hero div:hover {
      width: 900px; }
    .hero div h1 {
      font-size: 40px; }
    .hero div h2 {
      font-size: 20px; }
  .hero h3 {
    font-size: 18px; }
  .sectionTexto h1 {
    font-size: 25px; }
  .sectionTexto2 h3 {
    font-size: 25px; }
  .sectionClientes {
    height: 2100px;
    display: inline-block; }
    .sectionClientes div {
      transition-duration: 1s;
      display: inline-block;
      margin: 30px;
      width: 700px;
      height: 450px; }
      .sectionClientes div:hover {
        height: 480px;
        width: 740px; }
      .sectionClientes div h2 {
        font-size: 18px; }
      .sectionClientes div p {
        font-size: 15px; }
      .sectionClientes div img {
        height: 300px;
        width: 300px; }
  .sectionPlans {
    height: 1300px;
    padding: 50px; }
    .sectionPlans div {
      height: 380px;
      width: 800px; }
      .sectionPlans div h2 {
        font-size: 18px;
        padding: 10px; }
      .sectionPlans div h3 {
        font-size: 18px;
        padding: 10px; }
  .sectionServicios div h1 {
    font-size: 20px; }
  .sectionServicios div h3 {
    font-size: 20px; }
  .accordion-item h2 button {
    font-size: 13px; }
  .accordion-body {
    font-size: 12px; }
  .accordion-button {
    width: 750px; } }

@media screen and (max-width: 768px) {
  .hero div {
    width: 570px;
    transition-duration: 1s; }
    .hero div:hover {
      width: 620px; }
    .hero div h1 {
      font-size: 28px; }
    .hero div h2 {
      font-size: 18px; }
  .hero h3 {
    font-size: 17px; }
  main .fixed a img {
    width: 60px;
    height: 60px; }
  .header nav section ul li a {
    font-size: 15px; }
    .header nav section ul li a:hover {
      font-size: 17px; }
  .hero {
    height: 400px; }
  .sectionTexto h1 {
    font-size: 23px; }
  .sectionTexto2 h3 {
    font-size: 23px; }
  .sectionClientes {
    height: 2100px;
    display: inline-block; }
    .sectionClientes div {
      transition-duration: 1s;
      display: inline-block;
      margin: 30px;
      width: 600px;
      height: 450px; }
      .sectionClientes div:hover {
        height: 480px;
        width: 640px; }
      .sectionClientes div h2 {
        font-size: 18px; }
      .sectionClientes div p {
        font-size: 17px; }
      .sectionClientes div img {
        height: 250px;
        width: 250px; }
  .sectionPlansTitulo h1 {
    font-size: 18px; }
  .sectionPlans {
    height: 1100px;
    padding: 50px; }
    .sectionPlans div {
      height: 320px;
      width: 600px; }
      .sectionPlans div h2 {
        font-size: 14px; }
      .sectionPlans div ul li {
        font-size: 12px; }
      .sectionPlans div a {
        font-size: 12px; }
  .sectionServicios div h1 {
    font-size: 17px; }
  .sectionServicios div h3 {
    font-size: 17px; }
  .accordion .accordion-item .accordion-header .accordion-button {
    font-size: 11px;
    width: 550px; }
  .accordion .accordion-collapse .accordion-body {
    font-size: 10px; }
  .sectionContactoTitulo h1 {
    font-size: 19px; }
  .sectionContactoTitulo h2 {
    font-size: 16px; }
  form .mb-3 .form-label {
    font-size: 13px; }
  form .mb-3 .form-control {
    height: 35px; }
  form .btn {
    font-size: 13px; }
  .footer {
    height: 240px; }
    .footer div h2 {
      font-size: 15px; }
    .footer div ul li a {
      font-size: 13px; }
    .footer div ul li span {
      font-size: 13px; } }

@media screen and (max-width: 600px) {
  .hero div {
    width: 500px;
    height: 120px;
    transition-duration: 1s; }
    .hero div:hover {
      width: 520px;
      height: 130px; }
    .hero div h1 {
      font-size: 25px; }
    .hero div h2 {
      font-size: 16px; }
  .hero h3 {
    font-size: 16px; }
  main .fixed a img {
    width: 40px;
    height: 40px; }
  .header nav section ul li a {
    font-size: 13px;
    transition-duration: 1s; }
    .header nav section ul li a:hover {
      text-decoration: underline;
      font-size: 15px; }
  .sectionTexto h1 {
    font-size: 18px; }
  .sectionTexto2 h3 {
    font-size: 18px; }
  .sectionClientes {
    height: 2100px;
    display: inline-block; }
    .sectionClientes div {
      transition-duration: 1s;
      display: inline-block;
      margin: 30px;
      width: 500px;
      height: 450px; }
      .sectionClientes div:hover {
        height: 465px;
        width: 510px; }
      .sectionClientes div h2 {
        font-size: 22px; }
      .sectionClientes div p {
        font-size: 18px; }
  .sectionPlansTitulo h1 {
    font-size: 15px; }
  .sectionPlans {
    height: 1100px;
    padding: 50px; }
    .sectionPlans div {
      height: 300px;
      width: 500px; }
      .sectionPlans div h2 {
        font-size: 12px; }
      .sectionPlans div ul li {
        font-size: 10px; }
      .sectionPlans div a {
        font-size: 10px; }
      .sectionPlans div img {
        height: 120px;
        width: 120px; }
  .sectionServicios div h1 {
    font-size: 13px;
    height: 35px; }
  .sectionServicios div h3 {
    font-size: 13px;
    height: 45px; }
  .accordion .accordion-item .accordion-header .accordion-button {
    font-size: 10px;
    width: 450px; }
  .accordion .accordion-item .accordion-header .accordion-collapse .accordion-body {
    font-size: 8px; }
  .sectionServiciosBoton a {
    font-size: 12px; }
  .sectionContacto .sectionContactoTitulo h1 {
    font-size: 16px; }
  .sectionContacto .sectionContactoTitulo h2 {
    font-size: 14px; }
  form .mb-3 .form-label {
    font-size: 12px; }
  form .mb-3 .form-control {
    height: 30px; }
  form .btn {
    font-size: 12px; }
  .footer {
    height: 185px; }
    .footer div h4 {
      font-size: 13px; }
    .footer div ul li a {
      font-size: 11px; }
    .footer div ul li span {
      font-size: 10px; } }

@media screen and (max-width: 480px) {
  .hero {
    height: 520px; }
    .hero div {
      width: 420px;
      height: 100px;
      transition-duration: 1s; }
      .hero div:hover {
        width: 440px;
        height: 120px; }
      .hero div h1 {
        font-size: 22px; }
      .hero div h2 {
        font-size: 14px; }
    .hero h3 {
      font-size: 14px; }
  .header {
    height: 100px; }
    .header nav section a img {
      height: 60px;
      width: 60px; }
    .header nav section ul li a {
      font-size: 12px;
      margin: 3px;
      padding: 10px; }
      .header nav section ul li a:hover {
        text-decoration: underline;
        font-size: 14px; }
  .sectionTexto {
    height: 60px; }
    .sectionTexto h1 {
      font-size: 15px; }
  .sectionTexto2 h3 {
    font-size: 15px; }
  .sectionClientes {
    height: 2200px;
    display: inline-block; }
    .sectionClientes div {
      transition-duration: 1s;
      display: inline-block;
      margin: 30px;
      width: 250px;
      height: 480px; }
      .sectionClientes div:hover {
        height: 490px;
        width: 260px; }
      .sectionClientes div h2 {
        font-size: 20px; }
      .sectionClientes div p {
        font-size: 16px; }
  .sectionPlansTitulo h1 {
    font-size: 15px; }
  .sectionPlans {
    height: 1000px;
    padding: 50px; }
    .sectionPlans div {
      height: 280px;
      width: 320px; }
      .sectionPlans div h2 {
        font-size: 12px; }
      .sectionPlans div h3 {
        font-size: 12px; }
      .sectionPlans div ul li {
        font-size: 10px;
        margin: 13px; }
      .sectionPlans div a {
        font-size: 8px; }
      .sectionPlans div img {
        height: 90px;
        width: 90px; }
  .sectionServicios div h1 {
    font-size: 11px; }
  .sectionServicios div h3 {
    font-size: 11px; }
  .accordion {
    height: 380px; }
    .accordion .accordion-item .accordion-header .accordion-button {
      font-size: 10px;
      width: 330px;
      padding: 10px; }
    .accordion .accordion-item .accordion-header .accordion-collapse .accordion-body {
      font-size: 7px; }
  .sectionServiciosBoton a {
    font-size: 11px; }
  .sectionContacto .sectionContactoTitulo h1 {
    font-size: 14px; }
  .sectionContacto .sectionContactoTitulo h2 {
    font-size: 12px; }
  form .mb-3 .form-label {
    font-size: 11px; }
  form .mb-3 .form-control {
    height: 25px; }
  form .btn {
    font-size: 11px; }
  .footer div h2 {
    font-size: 11px; }
  .footer div ul li a {
    font-size: 11px; }
  .footer div ul li span {
    font-size: 11px; }
  .footer div a img {
    height: 15px;
    width: 15px; } }

@media screen and (max-width: 420px) {
  .hero {
    height: 450px; }
    .hero div {
      width: 320px;
      height: 100px;
      transition-duration: 1s; }
      .hero div:hover {
        width: 330px;
        height: 110px; }
      .hero div h1 {
        font-size: 18px; }
      .hero div h2 {
        font-size: 13px; }
    .hero h3 {
      font-size: 13px; }
  .header {
    height: 140px; }
    .header nav {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .header nav section a img {
        margin: 30px;
        height: 100px;
        width: 100px; }
      .header nav section ul {
        display: flex;
        flex-direction: column; }
        .header nav section ul li a {
          font-size: 12px;
          margin: 10px;
          padding: 2px;
          transition-duration: 1s; }
          .header nav section ul li a:hover {
            text-decoration: underline;
            font-size: 13px; } }
