.sectionPlansTitulo{
    text-align: center;
    padding: 15px;
    background-color: gainsboro;
    h1{
        font-size: 30px;
        font-weight: bold;
    }
}
.sectionPlans{
    background-color: gainsboro;
    height: 1150px;
    background-image: url(../images/Carousel1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    div{
        border: 3px black solid;
        width: 1000px;
        height: 340px;
        background-color: gainsboro;
        margin-top: 20px;
        h2{
            font-size: 23px;
            padding: 10px;
            font-weight: bold;
        }
        h3{
            font-size: 23px;
            padding: 10px;
            font-weight: bold;
        }
        ul{
            display: inline-block;
            padding: 0px;
            li{
                list-style: none;
                margin: 20px;
                color: black;
            }
        }
        a{
            background-color: black;
            color: white;
            border: 3px black solid;
            border-radius: 5px;
            text-decoration: none;
            padding: 5px;
            font-weight: bold;
            transition-duration: 1s;
            &:hover{
                background-color: gainsboro;
                padding: 8px;
            }
        }
    }
}