/**-----FONTS-----**/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/**-----RESET-----**/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**-----BODY-----**/

.body {
    font-family: "Montserrat", sans-serif;
}

/**-----VARIABLES-----**/

$color-principal: black;
$color-secundario: gainsboro;
$color-terciario: white;

/**-----EXTENDS-----**/

%flex{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/**-----MIXINS-----**/

@mixin flex ($flex, $column, $center){
    display: $flex;
    flex-direction: $column;
    justify-content: $center;
}